DB_URL=jdbc:postgresql://localhost:5432/power_esta
DB_USERNAME=<db_username>
DB_PASSWORD=<db_password>

JWT_SECRET=<min_32_chars_random_secret>
JWT_ISSUER=biblioteca
JWT_EXPIRATION_MINUTES=240
JWT_REFRESH_DAYS=7

MAIL_USERNAME=<smtp_email>
MAIL_PASSWORD=<smtp_app_password>
